<%- include("_header") -%>

<h3>Customer Export</h3>
<form action="/export" method="post">
    <input type="submit" id="submit" value="Export Customers">
</form>
<% if(message.substring(0,5) === "Error") { %>
    <h2>Error!</h2>
    <p><%= message %></p>
<% } %>
<%- include("_footer") -%>

<%- include("_header") -%>